<div
  style="font-family: Arial, sans-serif; max-width: 600px; margin: auto; border: 1px solid #ddd; border-radius: 8px; overflow: hidden;"
>

  <img
    src="{{banner}}"
    alt="Banner del evento"
    style="width: 100%; height: auto; display: block;"
  />

  <div style="padding: 20px;">

    <h1 style="color: #333;">隆Hola, {{user.name}}!</h1>
    <p style="font-size: 16px; color: #555;">隆Tu pre-registro para el evento
      <strong>{{name}}</strong>
      ha sido un 茅xito! </p>
    <p style="font-size: 14px; color: #777;">A continuaci贸n, te mostramos los
      detalles del evento y la informaci贸n que registraste:</p>

    ---

    <h2 style="color: #444;">Detalles del Evento</h2>
    <p style="font-size: 16px; color: #555;"><strong>Nombre:</strong>
      {{name}}</p>
    <p style="font-size: 16px; color: #555;"><strong>Lugar:</strong>
      {{location}}</p>
    <p style="font-size: 16px; color: #555;"><strong>Fecha:</strong>
      {{init_date}}</p>
    <p style="font-size: 16px; color: #555;"><strong>Hora:</strong>
      {{start_time}}
      -
      {{end_time}}</p>

    ---
    <br />
    <h2 style="color: #444;">Descripci贸n</h2>
    <p
      style="white-space: pre-wrap; font-size: 14px; color: #666;"
    >{{{description}}}</p>

    ---

    <h2 style="color: #444;">Tu Informaci贸n Registrada</h2>
    <ul style="list-style-type: none; padding: 0;">
      <li style="font-size: 16px; color: #555; margin-bottom: 8px;"><strong
        >Nombre:</strong>
        {{user.name}}</li>
      <li style="font-size: 16px; color: #555; margin-bottom: 8px;"><strong
        >Email:</strong>
        {{user.email}}</li>
      <li style="font-size: 16px; color: #555;"><strong>Tel茅fono:</strong>
        {{user.telephone}}</li>
    </ul>

    <hr
      style="border: 0; height: 1px; background-color: #ddd; margin: 20px 0;"
    />

    <p style="font-size: 14px; color: #888; text-align: center;">隆Esperamos
      verte all铆! Cualquier duda, contacta al host:
      <strong>{{host}}</strong>.</p>

  </div>
</div>