<div
  style="font-family: Arial, sans-serif; max-width: 600px; margin: auto; border: 1px solid #ddd; border-radius: 8px; overflow: hidden;"
>

  <div style="padding: 20px;">

    <h1 style="color: #333;">¡Bienvenido/a a RAVR, {{name}}! 👋</h1>

    <p style="font-size: 16px; color: #555;">
      Tu cuenta de
      <strong>Cajero/a (Checker)</strong>
      ha sido creada con éxito en nuestra plataforma.
    </p>

    <p style="font-size: 16px; color: #555;">
      Con este rol, podrás acceder al sistema para validar entradas y gestionar
      el acceso a los eventos.
    </p>

    <hr
      style="border: 0; height: 1px; background-color: #ddd; margin: 25px 0;"
    />

    <h2 style="color: #444; text-align: center;">Acceso y Seguridad</h2>

    <p style="font-size: 16px; color: #555; text-align: center;">
      Para comenzar a usar tu cuenta, por favor
      <strong>establece tu contraseña</strong>
      haciendo clic en el botón de abajo. Este enlace es válido por 7 días.
    </p>

    <div style="text-align: center; margin: 30px 0;">

      <a
        href="{{ott_token_url}}"
        target="_blank"
        style="
  background-color: #007bff; /* Color principal */
  color: #ffffff;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  "
      >
        Establecer Mi Contraseña
      </a>

    </div>

    <p
      style="font-size: 14px; color: #777; text-align: center; margin-top: 15px;"
    >
      En caso de no poder acceder a la URL, copia y pega el siguiente enlace en
      tu navegador:
    </p>
    <p style="font-size: 14px; text-align: center; word-break: break-all;">
      <a
        href="{{ott_token_url}}"
        style="color: #007bff; text-decoration: underline;"
      >
        {{ott_token_url}}
      </a>
    </p>

    <p
      style="font-size: 14px; color: #777; text-align: center; margin-top: 30px;"
    >

      <strong>Tu usuario de inicio de sesión es tu email:</strong>

      <br />

      <strong style="color: #333;">{{email}}</strong>

    </p>

    <hr
      style="border: 0; height: 1px; background-color: #ddd; margin: 25px 0;"
    />

    <p style="font-size: 14px; color: #888; text-align: center;">
      Si tienes alguna duda o necesitas soporte, por favor contáctanos.

    </p>

    <p
      style="font-size: 14px; color: #888; text-align: center; margin-bottom: 0;"
    >
      ¡Te deseamos el mejor de los éxitos!
    </p>

  </div>
</div>